---
layout: layouts/categorie.html
pagination:
  data: news[0]
  size: 1
  alias: tag
  addAllPagesToCollections: true
eleventyComputed:
  title: Tagged “{{ tag.tags }}”
permalink: '/tags/{{ tag.tags  }}/'
---

<h1>This is the "{{tag}}" category! </h1>
{% set newsList = collections[ tag ] %}
{% include "./articleList.html" %}